# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/
.env

# Données & Clés 
kaggle.json
backend/temp_data/
temp_data/
temp_files/
*.csv
*.xlsx
*.zip
*.pkl

# VS Code
.vscode/

# Database files
*.db
*.sqlite3